* {
  box-sizing: border-box;
}
html {
  height: 100%
}
body {
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background-color: rgb(0,0,40);
  background-image: url(Background-small.png);
  background-position: bottom;
  background-repeat: repeat-x;
}
@media only screen and (min-width: 1281px) {
  body {
  background-image: url(Background.png);
 }
}
h1 {
  margin: 30px 0px 5px 10px;
  font-family: 'Arimo', sans-serif;
  font-size: 20x;
  color: white;
}
ul {
  overflow: hidden;
}
ul.contact {
  list-style: none;
}
li {
  margin: 0 0 5px 0;
}
p{
  display: inline;
  margin: 12px;
}
a {
color: white;
}
div.top {
  position: absolute;
  top: 0;
  height: 140px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background: rgb(0,0,0);
}
div.navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(0,0,0);
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: white;
  font-family: 'Puritan', sans-serif;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}
div.navbar ul {
  height: auto;
  padding: 8px 0px;
  margin: 0;
}
div.navbar li {
  display: inline;
  padding: 20px;
}
div.navbar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: white;
  }
div.content {
  position: relative;
  margin: 0 auto;
  width: 900px;
  height: 350px;
  top: 200px;
  background: rgba(192,192,192,0);
  font-family: 'Puritan', sans-serif;
  font-size: 16px;
  color: white;
}
div.voyages {
  display: none;
}
div.facts {
  display: none;
}
div.signal {
  display: none;
}
div.diver {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media only screen and (min-width: 1281px) {
  #diver-normal {display: block; }
  #diver-small {display: none; }
}
@media only screen and (max-width: 1280px) {
  #diver-normal {display: none; }
  #diver-small {display: block; }
}
img.muttonchops {
  float: left;
  border-radius: 10px;
}
img.atthehelm {
  float: left;
  margin: 0, 12px, 0, 0;
  border-radius: 10px;
}
img.headshot {
  float: left;
  margin: 0, 12px, 0, 0;
  border-radius: 10px;
}

<!-- This bubbles animation code is from StackOverflow; runs through the end of the style tag. -->
@keyframes greenPulse {
0% {box-shadow:0 0 30px #4bbec8}
50% {box-shadow:0 0 80px #4bbec8}
100% {box-shadow:0 0 30px #4bbec8}
}
@-webkit-keyframes greenPulse {
0% {-webkit-box-shadow:0 0 30px #4bbec8}
50% {-webkit-box-shadow:0 0 80px #4bbec8}
100% {-webkit-box-shadow:0 0 30px #4bbec8}
}
@-moz-keyframes greenPulse {
0% {-moz-box-shadow:0 0 30px #4bbec8}
50% {-moz-box-shadow:0 0 80px #4bbec8}
100% {-moz-box-shadow:0 0 30px #4bbec8}
}
@-o-keyframes greenPulse {
0% {-o-box-shadow:0 0 30px #4bbec8}
50% {-o-box-shadow:0 0 80px #4bbec8}
100% {-o-box-shadow:0 0 30px #4bbec8}
}

@keyframes bubbleUp {
0% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
1% {bottom:110px;-webkit-transform:scale(.3);opacity:0}
30% {bottom:110px;-webkit-transform:scale(.8);opacity:1}
95% {bottom:545px;-webkit-transform:scale(.3);opacity:1}
99% {bottom:550px;-webkit-transform:scale(3);opacity:0}
100% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
}
@-webkit-keyframes bubbleUp {
0% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
1% {bottom:110px;-webkit-transform:scale(.3);opacity:0}
30% {bottom:110px;-webkit-transform:scale(.8);opacity:1}
95% {bottom:545px;-webkit-transform:scale(.3);opacity:1}
99% {bottom:550px;-webkit-transform:scale(3);opacity:0}
100% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
}
@-moz-keyframes bubbleUp {
0% {bottom:110px;-moz-transform:scale(.9);opacity:0}
1% {bottom:110px;-moz-transform:scale(.3);opacity:0}
30% {bottom:110px;-moz-transform:scale(.8);opacity:1}
95% {bottom:545px;-moz-transform:scale(.3);opacity:1}
99% {bottom:550px;-moz-transform:scale(3);opacity:0}
100% {bottom:110px;-moz-transform:scale(.9);opacity:0}
}
@-o-keyframes bubbleUp {
0% {bottom:110px;-o-transform:scale(.9);opacity:0}
1% {bottom:110px;-o-transform:scale(.3);opacity:0}
30% {bottom:110px;-o-transform:scale(.8);opacity:1}
95% {bottom:545px;-o-transform:scale(.3);opacity:1}
99% {bottom:550px;-o-transform:scale(3);opacity:0}
100% {bottom:110px;-o-transform:scale(.9);opacity:0}
}

@keyframes bubbleUp1 {
0% {bottom:120px;transform:scale(.3);opacity:0}
1% {bottom:80px;transform:scale(.2);opacity:0}
30% {bottom:90px;transform:scale(.2);opacity:1}
95% {bottom:500px;transform:scale(.4);opacity:1}
99% {bottom:550px;transform:scale(.2);opacity:0}
100% {bottom:140px;transform:scale(.9);opacity:0}
}
@-webkit-keyframes bubbleUp1 {
0% {bottom:120px;-webkit-transform:scale(.3);opacity:0}
1% {bottom:80px;-webkit-transform:scale(.2);opacity:0}
30% {bottom:90px;-webkit-transform:scale(.2);opacity:1}
95% {bottom:500px;-webkit-transform:scale(.4);opacity:1}
99% {bottom:550px;-webkit-transform:scale(.2);opacity:0}
100% {bottom:140px;-webkit-transform:scale(.9);opacity:0}
}
@-moz-keyframes bubbleUp1 {
0% {bottom:120px;-moz-transform:scale(.3);opacity:0}
1% {bottom:80px;-moz-transform:scale(.2);opacity:0}
30% {bottom:90px;-moz-transform:scale(.2);opacity:1}
95% {bottom:500px;-moz-transform:scale(.4);opacity:1}
99% {bottom:550px;-moz-transform:scale(.2);opacity:0}
100% {bottom:140px;-moz-transform:scale(.9);opacity:0}
}
@-o-keyframes bubbleUp1 {
0% {bottom:120px;-o-transform:scale(.3);opacity:0}
1% {bottom:80px;-o-transform:scale(.2);opacity:0}
30% {bottom:90px;-o-transform:scale(.2);opacity:1}
95% {bottom:500px;-o-transform:scale(.4);opacity:1}
99% {bottom:550px;-o-transform:scale(.2);opacity:0}
100% {bottom:140px;-o-transform:scale(.9);opacity:0}
}

@keyframes bubbleUp2 {
0% {bottom:110px;transform:scale(1);opacity:0}
1% {bottom:110px;transform:scale(.3);opacity:0}
30% {bottom:110px;transform:scale(.9);opacity:1}
95% {bottom:650px;transform:scale(.3);opacity:1}
99% {bottom:655px;transform:scale(3);opacity:0}
100% {bottom:110px;transform:scale(1);opacity:0}
}
@-webkit-keyframes bubbleUp2 {
0% {bottom:110px;-webkit-transform:scale(1);opacity:0}
1% {bottom:110px;-webkit-transform:scale(.3);opacity:0}
30% {bottom:110px;-webkit-transform:scale(.9);opacity:1}
95% {bottom:650px;-webkit-transform:scale(.3);opacity:1}
99% {bottom:655px;-webkit-transform:scale(3);opacity:0}
100% {bottom:110px;-webkit-transform:scale(1);opacity:0}
}
@-moz-keyframes bubbleUp2 {
0% {bottom:110px;-moz-transform:scale(1);opacity:0}
1% {bottom:110px;-moz-transform:scale(.3);opacity:0}
30% {bottom:110px;-moz-transform:scale(.9);opacity:1}
95% {bottom:650px;-moz-transform:scale(.3);opacity:1}
99% {bottom:655px;-moz-transform:scale(3);opacity:0}
100% {bottom:110px;-moz-transform:scale(1);opacity:0}
}
@-o-keyframes bubbleUp2 {
0% {bottom:110px;-o-transform:scale(1);opacity:0}
1% {bottom:110px;-o-transform:scale(.3);opacity:0}
30% {bottom:110px;-o-transform:scale(.9);opacity:1}
95% {bottom:650px;-o-transform:scale(.3);opacity:1}
99% {bottom:655px;-o-transform:scale(3);opacity:0}
100% {bottom:110px;-o-transform:scale(1);opacity:0}
}

@keyframes bubbleUp3 {
0% {bottom:110px;transform:scale(1);opacity:0}
1% {bottom:110px;transform:scale(.3);opacity:0}
30% {bottom:110px;transform:scale(.9);opacity:1}
95% {bottom:495px;transform:scale(.3);opacity:1}
99% {bottom:500px;transform:scale(3);opacity:0}
100% {bottom:110px;transform:scale(1);opacity:0}
}
@-webkit-keyframes bubbleUp3 {
0% {bottom:110px;-webkit-transform:scale(1);opacity:0}
1% {bottom:110px;-webkit-transform:scale(.3);opacity:0}
30% {bottom:110px;-webkit-transform:scale(.9);opacity:1}
95% {bottom:495px;-webkit-transform:scale(.3);opacity:1}
99% {bottom:500px;-webkit-transform:scale(3);opacity:0}
100% {bottom:110px;-webkit-transform:scale(1);opacity:0}
}
@-moz-keyframes bubbleUp3 {
0% {bottom:110px;-moz-transform:scale(1);opacity:0}
1% {bottom:110px;-moz-transform:scale(.3);opacity:0}
30% {bottom:110px;-moz-transform:scale(.9);opacity:1}
95% {bottom:495px;-moz-transform:scale(.3);opacity:1}
99% {bottom:500px;-moz-transform:scale(3);opacity:0}
100% {bottom:110px;-moz-transform:scale(1);opacity:0}
}
@-o-keyframes bubbleUp3 {
0% {bottom:110px;-o-transform:scale(1);opacity:0}
1% {bottom:110px;-o-transform:scale(.3);opacity:0}
30% {bottom:110px;-o-transform:scale(.9);opacity:1}
95% {bottom:495px;-o-transform:scale(.3);opacity:1}
99% {bottom:500px;-o-transform:scale(3);opacity:0}
100% {bottom:110px;-o-transform:scale(1);opacity:0}
}

@keyframes bubbleUp4 {
0% {bottom:110px;transform:scale(1);opacity:0}
1% {bottom:110px;transform:scale(.3);opacity:0}
30% {bottom:110px;transform:scale(.9);opacity:1}
95% {bottom:595px;transform:scale(.3);opacity:1}
99% {bottom:600px;transform:scale(3);opacity:0}
100% {bottom:110px;transform:scale(1);opacity:0}
}
@-webkit-keyframes bubbleUp4 {
0% {bottom:110px;-webkit-transform:scale(1);opacity:0}
1% {bottom:110px;-webkit-transform:scale(.3);opacity:0}
30% {bottom:110px;-webkit-transform:scale(.9);opacity:1}
95% {bottom:595px;-webkit-transform:scale(.3);opacity:1}
99% {bottom:600px;-webkit-transform:scale(3);opacity:0}
100% {bottom:110px;-webkit-transform:scale(1);opacity:0}
}
@-moz-keyframes bubbleUp4 {
0% {bottom:110px;-moz-transform:scale(1);opacity:0}
1% {bottom:110px;-moz-transform:scale(.3);opacity:0}
30% {bottom:110px;-moz-transform:scale(.9);opacity:1}
95% {bottom:595px;-moz-transform:scale(.3);opacity:1}
99% {bottom:600px;-moz-transform:scale(3);opacity:0}
100% {bottom:110px;-moz-transform:scale(1);opacity:0}
}
@-o-keyframes bubbleUp4 {
0% {bottom:110px;-o-transform:scale(1);opacity:0}
1% {bottom:110px;-o-transform:scale(.3);opacity:0}
30% {bottom:110px;-o-transform:scale(.9);opacity:1}
95% {bottom:595px;-o-transform:scale(.3);opacity:1}
99% {bottom:600px;-o-transform:scale(3);opacity:0}
100% {bottom:110px;-o-transform:scale(1);opacity:0}
}
div#beaker {
width:300px;
height:750px;
margin: 400px 80px 0px 0px;
position: relative;
float: right;
bottom: 0px;
}
div#beaker span.glow {
width:100%;
height:100%;background:##222;
position:relative;
display:block;
border-radius:200px;
animation:greenPulse 2s infinite;
-webkit-animation:greenPulse 2s infinite;
-moz-animation:greenPulse 2s infinite;
-o-animation:greenPulse 2s infinite;
}
div#beaker span.bubble {
background:#fff;
width:80px;
height:80px;
position:relative;
display:block;
left:110px;
bottom:810px;
border-radius:100px;
background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
background:-webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
animation:bubbleUp 4s infinite ease-in-out;
-webkit-animation:bubbleUp 4s infinite ease-in-out;
-o-animation:bubbleUp 4s infinite ease-in-out;
-moz-animation:bubbleUp 4s infinite ease-in-out;
}
div#beaker span.bubble1 {
background:#fff;
width:70px;
height:70px;
position:relative;
display:block;
left:115px;
bottom:810px;
border-radius:80px;
background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
background:-webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
animation:bubbleUp 5s infinite;
-webkit-animation:bubbleUp1 5s infinite;
-o-animation:bubbleUp1 5s infinite;
-moz-animation:bubbleUp1 5s infinite;
}
div#beaker span.bubble2 {
background:#fff;
width:30px;
height:30px;
position:relative;
display:block;
left:110px;
bottom:810px;
border-radius:60px;
background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
background:-webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
animation:bubbleUp 7s infinite;
-webkit-animation:bubbleUp2 7s infinite;
-o-animation:bubbleUp2 7s infinite;
-moz-animation:bubbleUp2 7s infinite;
}
div#beaker span.bubble3 {
background:#fff;
width:50px;
height:50px;
position:relative;
display:block;
left:140px;
bottom:795px;
border-radius:100px;
background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
background:-webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
animation:bubbleUp 10s infinite;
-webkit-animation:bubbleUp3 10s infinite;
-o-animation:bubbleUp3 10s infinite;
-moz-animation:bubbleUp3 10s infinite;
}
div#beaker span.bubble4 {
background:#fff;
width:40px;
height:40px;
position:relative;
display:block;
left:155px;
bottom:810px;
border-radius:100px;
background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
background:-webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
animation:bubbleUp4 12s infinite;
-webkit-animation:bubbleUp4 12s infinite;
-o-animation:bubbleUp4 12s infinite;
-moz-animation:bubbleUp4 12s infinite;
Status API Training Shop Blog About Pricing
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
